* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 60px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar {
  background-color: lightgrey;
  flex: 1;
}
li {
  padding: 20px;
  list-style: none;
  font-size: 40px;
}
.main-text {
  background-color: darkgrey;
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.body-text {
  padding: 40px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: gray;
  height: 80px;
  padding: 5px;
  font-size: 20px;
}
@media screen and (min-width: 400px) {
}
